<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chuanliu - Admin Blog Dashboard</title>


    <!-- begin::global styles -->
    <link rel="stylesheet" href="../../assets/css/bundle.css" type="text/css">
    <!-- end::global styles -->

    <!-- begin::custom styles -->
    <link rel="stylesheet" href="../../assets/css/app.css" type="text/css">
    <!-- end::custom styles -->

</head>
<body>

<!-- begin::page loader-->
<div class="page-loader">
    <div class="spinner-border"></div>
    <span>Loading ...</span>
</div>
<!-- end::page loader -->

<!-- begin::side menu -->
<div class="side-menu">
    <div class='side-menu-body'>
        <ul>
            <li class="side-menu-divider">Navigation</li>
            <li class="open">
                <a ><i class="icon ti-home"></i> <span>Dashboards</span> </a>
                <ul>
                    <li><a href="../articles/">Articles</a></li>
                    <li><a class="active"href="../blogs/">Blogs</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- end::side menu -->
<!-- begin::navbar -->
<nav class="navbar">
    <div class="container-fluid">

        <div class="header-logo">
            <a >
                <img src="../../assets/media/image/light-logo.png" alt="...">
                <span class="logo-text d-none d-lg-block">川流</span>
            </a>
        </div>

        <div class="header-body">
            <ul class="navbar-nav">
            </ul>
            <form class="search">
                <div class="input-group">
                </div>
            </form>
            <ul class="navbar-nav">
                <li class="nav-item dropdown">
                    <a  data-toggle="dropdown">
                        <figure class="avatar avatar-sm avatar-state-success">
                            <img class="rounded-circle" src="../../assets/media/image/avatar.jpg" alt="...">
                        </figure>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                       <!--  <a href="profile.html" class="dropdown-item">Profile</a>
                        <a  data-sidebar-target="#settings" class="sidebar-open dropdown-item">Settings</a>
                        <div class="dropdown-divider"></div> -->
                        <a href="../login/" class="text-danger dropdown-item">Logout</a>
                    </div>
                </li>
                <li class="nav-item d-lg-none d-sm-block">
                    <a  class="nav-link side-menu-open">
                        <i class="ti-menu"></i>
                    </a>
                </li>
            </ul>
        </div>

    </div>
</nav>
<!-- end::navbar -->
<!-- begin::main content -->
<main class="main-content" id="app">

    <div class="container-fluid">

        <!-- begin::page header -->
        <div class="page-header d-md-flex align-items-center justify-content-between">
            <div>
                <h4>Dashboard</h4>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a >Dashboard</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Blog</li>
                    </ol>
                </nav>
            </div>
          
        </div>
        <!-- end::page header -->



        <div class="row">

                <div class="col-md-7">
                <div class="card">
                    <div class="card-header  d-flex align-items-center justify-content-between">
                        Blogs
                       <!--  <a  class="js-card-refresh">
                            <i class="fa fa-refresh"></i>
                        </a> -->
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Watch</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="item in items"  :id="item.id">
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <div>
                                                <figure class="avatar avatar-sm m-r-15">
                                                    <template v-if="item.avatar != ''">
                                                        <img :src="item.avatar">
                                                     </template>
                                                     <template v-else=>
                                                        <span class="avatar-title bg-success rounded-circle">V</span>
                                                     </template>
                                                </figure>

                                            </div>
                                            <div>
                                                <h6 class="m-b-0">{{ item.name }}</h6>
                                                <span class="text-muted small">{{ item.rss }}</span>
                                                <br>
                                                 <span class="text-muted small">{{ item.created_at }}</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <a >{{ item.watch }}</a>
                                    </td>
                                    <td>
                                        <span   v-if=" item.type == 0 ">未分类</span>
                                        <span   v-if=" item.type == 1 ">生活类</span>
                                        <span   v-if=" item.type == 2 ">技术类</span>
                                    </td>
                                    <td class="text-right">
                                        <div class="dropdown">
                                            <a class="btn btn-outline-primary btn-sm"  data-toggle="dropdown"
                                               aria-haspopup="true" aria-expanded="false">
                                                <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right">
                                               <a  class="dropdown-item" @click="del(item.id)">Delete</a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <nav aria-label="Page navigation example" class="mb-3">
                                 <!-- 共{{ pages }}页 -->
                                <ul class="pagination justify-content-center">
                                    <li class="page-item" v-if="loadbtn">
                                        <a class="page-link" @click="next()">Next</a>
                                    </li>
                                    <li class="page-item disabled" v-else>
                                        <a class="page-link" @click="next()">Next</a>
                                    </li>
                                </ul>
                            </nav>

                </div>

         
            </div>


            <div class="col-md-5">
              <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Overview</h5>

                        <div class="form-group">
                            <label for="exampleInputEmail1">RSS</label>
                            <input type="text" class="form-control" id="exampleInputEmail1"
                                   aria-describedby="emailHelp" placeholder="" v-model="addItem.rss">
                            <small id="emailHelp" class="form-text text-muted">（必填）Rss采集地址
                            </small>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">Name</label>
                            <input type="text" class="form-control" id="exampleInputEmail1"
                                   aria-describedby="emailHelp" placeholder="" v-model="addItem.name">
                            <small id="emailHelp" class="form-text text-muted">（选填）
                            </small>
                        </div>

                       

                        <div class="form-group">
                            <label for="exampleInputEmail1">Avatar</label>
                            <input type="text" class="form-control" id="exampleInputEmail1"
                                   aria-describedby="emailHelp" placeholder="" v-model="addItem.avatar">
                            <small id="emailHelp" class="form-text text-muted">（选填）
                            </small>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">Site</label>
                            <input type="text" class="form-control" id="exampleInputEmail1"
                                   aria-describedby="emailHelp" placeholder="" v-model="addItem.site">
                            <small id="emailHelp" class="form-text text-muted">（选填）首页地址
                            </small>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">Description</label>
                            <input type="text" class="form-control" id="exampleInputEmail1"
                                   aria-describedby="emailHelp" placeholder="" v-model="addItem.description">
                            <small id="emailHelp" class="form-text text-muted">（选填）
                            </small>
                        </div>

                        <div class="form-group">
                            <label for="exampleInputEmail1">Type</label>
                            <input type="number" class="form-control" id="exampleInputEmail1"
                                   aria-describedby="emailHelp" placeholder="" v-model="addItem.type">
                            <small id="emailHelp" class="form-text text-muted">（选填）0：未分类、1：生活类、2：技术类
                            </small>
                        </div>
                       
                        <button type="button" class="btn btn-primary" @click="add()">Submit</button>
                </div>
            </div>

              </div>
        
</div>
</main>
<!-- end::main content -->

<!-- begin::global scripts -->
<script type="text/javascript" src="../../assets/js/bundle.js"></script>
<!-- end::global scripts -->
<!-- begin::custom scripts -->
<script type="text/javascript" src="../../assets/js/app.js"></script>
<!-- end::custom scripts -->

<script src="https://lf6-cdn-tos.bytecdntp.com/cdn/expire-1-M/vue/3.2.31/vue.global.min.js"
        type="application/javascript">
</script>

<script type="text/javascript" src="../../assets/js/common.js">
</script>
<script type="text/javascript" src="../../config.js">
</script>
<script type="text/javascript" src="../../assets/js/global.js">
</script>



<script type="text/javascript">
    loginCheck();
    const {
        createApp
    } = Vue;

const app = createApp({
    //delimiters: ['{[', ']}'],
    data() {
        return {
            items: [],
            addItem:{},
            loadbtn:true,
            loginStatus: false,
        }
    },
    computed: {
        isMobile() {
            return window.innerWidth <= 768;
        },

    },
    methods: {
        add(){
            add(this.addItem);
        },
        del(id){
            del(id);
        },
        next(event) {
            page += 1;
            const that = this;
            getBlogs();
        },
    },
    mounted: function() {
        const that = this;

        getBlogs();

    }
});

const vm = app.mount('#app');

/****/

function add(addItem){

    if (addItem.rss == undefined || addItem.rss == ""){
        alert("Rss地址不能为空");
        return;
    }

    fetch(server + "blog", {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
            "Authorization": "Bearer " + token
        },
        body: JSON.stringify(addItem)
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('失败');
        }
        return response.json();
    })
    .then(data => {
        if (data == undefined) {
            alert("失败");
        } else {
            if (data.code == 100000) {
                alert("成功");
            } else if (data.code == 100002) {
                alert("登录失效，失败");
                window.location.href = '../login/';
            } else {
                alert("失败");
            }
        }
    });
}


function del(id){

    var param = [{
        "id":id
    }];
   
    fetch(server + "blog", {
        method: 'DELETE',
        headers: {
            'Content-Type': 'application/json',
            "Authorization": "Bearer " + token
        },
        body: JSON.stringify(param)
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('失败');
        }
        return response.json();
    })
    .then(data => {
        if (data == undefined) {
            alert("失败");
        } else {
            if (data.code == 100000) {
                alert("成功");
                 var element = document.getElementById(id);
                    if (element) {
                      element.remove();
                    } else {
                      console.log('未找到指定id的元素');
                    }
            } else if (data.code == 100002) {
                alert("登录失效，失败");
                window.location.href = '../login/';
            } else {
                alert("失败");
            }
        }
    });
}

function getBlogs() {

    var momentsApi = "blog?page_number=" + page + "&page_size=" + limit;

    fetch(server + momentsApi, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json',
                "Authorization": "Bearer " + token
            }
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('失败');
            }
            return response.json();
        })
        .then(data => {
            if (data.data != undefined && data.data != null && data.data.length != 0) {
                vm.$data.items.push(...data.data);
            } else {
                  vm.$data.loadbtn = false;
                return;
            };

        });

}

</script>

</body>
</html>